.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;

  label {
    @apply text-base font-semibold;
  }

  input.select {
    @apply font-medium bg-gray-50 text-secondary rounded-full outline outline-1 outline-gray-200 focus:outline focus:outline-primary focus:outline-2 focus:bg-background;

    padding: 0.5rem 1rem;

    border: none;
  }

  svg {
    position: absolute;

    width: 1.125rem;
    height: 1.125rem;

    inset-inline-end: 1rem;

    cursor: pointer;

    transition: all ease 0.2s;

    &:hover {
      color: var(--primary);
    }
  }

  .close:hover {
    transform: rotate(90deg) scale(1.5);
  }

  input.select:focus ~ svg {
    @apply text-primary;
  }

  .container-list {
    @apply bg-background outline outline-2 outline-gray-200 rounded-xl shadow-md;

    width: 100%;

    position: absolute;

    height: fit-content;
    max-height: 20rem;

    top: calc(100% + 0.5rem);

    z-index: 10;

    padding: 0.5rem;

    .list {
      width: 100%;

      display: flex;
      flex-direction: column;

      height: fit-content;
      max-height: 18.5rem;

      overflow-y: auto;

      .item {
        width: 100%;

        cursor: pointer;

        padding: 0.5rem 0.5rem;

        color: var(--secondary);

        border-radius: 8px;

        &:hover {
          background-color: var(--primary);
          color: var(--third);
          font-weight: 700;
        }
      }

      .not_found_text {
        cursor: default;
        text-align: center;
      }
    }
  }
}
