.header {
  @apply w-full sticky top-0 z-20 bg-background pt-6 shadow-md;

  .headerTop {
    @apply container mx-auto flex items-center justify-between gap-4 pb-6;

    .menu {
      @apply flex items-center justify-center text-4xl lg:hidden hover:text-primary active:scale-90 transition-all cursor-pointer;
    }

    .logo {
      @apply flex items-center -mt-3;

      img {
        @apply size-10 w-auto mr-2;
      }

      span {
        @apply font-bold text-gray-700;
      }
    }

    .language {
      @apply hidden lg:flex items-center shrink-0;
    }

    .mobileSearch {
      @apply text-4xl lg:hidden flex-center hover:text-primary active:scale-90 transition-all cursor-pointer;
    }

    .search {
      @apply hidden lg:flex-center gap-4 grow;

      & > div:nth-child(1) > input {
        @apply text-primary outline outline-1 outline-gray-200 focus:outline-2 focus:outline-primary;
      }
      & > div:nth-child(2) {
        @apply w-2/3;
      }
    }

    .actions {
      @apply hidden lg:flex items-center space-x-4 rtl:space-x-reverse text-sm;
    }
  }

  .navMenu {
    @apply relative flex items-center md:justify-center container gap-8 py-4 overflow-x-auto;

    & .activeDisplayBottom {
      position: absolute;
      content: "";
      background-color: var(--primary);
      border-radius: 999rem 999rem 0 0;
      width: var(--line-li);
      height: 0.25rem;
      bottom: 0;
      left: var(--offset-left);
      transition: all 0.5s ease;
    }

    .active {
      @apply text-primary;
    }

    button {
      @apply flex items-center gap-2 shrink-0 hover:text-primary hover:font-bold transition-all duration-300;
    }
  }
}

.sidebarContainer {
  @apply h-screen mt-20 flex flex-col gap-6 font-semibold;

  .logo {
    @apply w-32 mx-auto;
  }

  .selectOptionButtons {
    @apply flex items-center justify-around;

    .language {
      @apply child:outline child:outline-1 child:outline-gray-200 child:rounded-full;
    }
  }

  .actions {
    @apply flex flex-col gap-2 child:w-full border-t border-gray-200 pt-2;

    li a {
      @apply flex items-center gap-2 p-3 rounded-lg hover:bg-primaryfade/10 hover:text-primary active:scale-110 transition-all duration-300;
    }
  }
}