.category {
  @apply flex flex-col pt-4 lg:pt-8 lg:flex-row lg:gap-6 min-h-screen container pb-16;

  label {
    @apply text-sm lg:text-base font-bold text-gray-500 -mb-2;
  }

  .categories {
    @apply w-full flex flex-col gap-6;

    .topButtons {
      @apply flex gap-2 pb-4;

      button {
        @apply flex items-center gap-2 px-4 py-2 rounded-3xl transition-all;
      }

      button:nth-child(1) {
        @apply bg-third text-gray-400 border border-gray-200 hover:bg-primary hover:text-white;
      }

      button:nth-child(2) {
        @apply text-secondary hover:bg-primaryfade hover:text-primary;
      }
    }

    .collectionSlider {
      @apply py-4 rounded-xl pb-0;

      box-shadow: 0px 1px 12px -8px black;

      label {
        @apply flex items-center gap-2 text-primary lg:text-xl ms-6;

        svg {
          @apply size-6 lg:size-8;
        }
      }

      .moreButton {
        @apply flex items-center gap-2 text-primary;
      }
    }

    .placesWithMap {
      @apply w-full flex flex-col gap-6;

      .placesCard {
        @apply flex flex-col justify-between gap-6 pt-4 px-4 lg:px-6 rounded-xl overflow-hidden;

        img {
          @apply w-full h-48 sm:h-60 md:h-72 object-cover;
        }

        .cardTitles {
          @apply flex items-center gap-2 text-primary lg:text-xl;

          svg {
            @apply size-6 lg:size-8;
          }
        }

        &>div:first-child {
          @apply px-0;
        }

        box-shadow: 0px 1px 12px -8px black;
      }

      .map {
        @apply flex flex-col gap-4 w-full h-96 rounded-lg;

        label {
          @apply flex items-center gap-2 text-primary lg:text-xl shrink-0;

          svg {
            @apply size-6 lg:size-8;
          }
        }

        img {
          @apply w-full h-full object-cover rounded-xl;
        }
      }
    }
  }
}