@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 29%);
  --primary: hsl(166, 100%, 34%);
  --primary-fade: hsla(166, 100%, 34%, 0.3);
  --secondary: hsl(0, 0%, 29%);
  --third: hsl(0, 0%, 97%);
}

html[dir="rtl"] {
  font-family: "Vazirmatn", system-ui;
  font-feature-settings: "ss01";
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  padding-bottom: 5rem;
}

footer {
  --tw-shadow: 0 -2px 8px -1px rgb(0 0 0 / 0.1), 0 0 6px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 -2px 8px -1px var(--tw-shadow-color), 0 0 6px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  border-radius: 999rem !important;
  transition: all 0.2s ease;
  background-color: var(--primary) !important;
}

@layer base {
  .scroll {
    --sb-track-color: #d2d2d2;
    --sb-thumb-color: var(--primary);
    --sb-size: 4px;

    &::-webkit-scrollbar {
      width: var(--sb-size);
      height: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 5px;
    }
  }
}

body,
.scroll {
  --sb-track-color: #d2d2d2;
  --sb-thumb-color: var(--primary);
  --sb-size: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {

  body,
  .scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}