@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #4a4a4a;
  --primary: #00ab84;
  --secondary: #4a4a4a;
  --third: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.inset-block-card-btn {
  inset-inline-end: 1.0rem;
  inset-block-end: 2.5rem;
}