@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 99%);
  --foreground: hsl(0, 0%, 29%);
  --primary: hsl(166, 100%, 34%);
  --primary-fade: hsla(166, 100%, 34%, 0.3);
  --secondary: hsl(0, 0%, 29%);
  --third: hsl(0, 0%, 100%);
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  background-color: var(--background);
  margin-bottom: 5rem;
}

body,
.scroll {
  --sb-track-color: #d2d2d2;
  --sb-thumb-color: var(--primary);
  --sb-size: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
